.field--wrapper {
  position:relative;
  padding: 2% 0px;
}
#calculate {
	display: none;
}

label {
  color:#4481C4;
  top:26px;
  opacity:1;
}
#unit {
	font-size: 12px;
	margin-left: 10px;
	padding-bottom: 5px;
}
#result {
	display:none;
}
input {  
  position: absolute;
  display: block;
  box-sizing: border-box;
  padding: 0.3125em 0;
  width: 100%;
  border: 0;
  outline: none;
  border-bottom: 0.125em solid #bbbbbb;
}
body {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
}

h1 {
	text-align: center;
}

button {
	background: #ab00ff;
	border: none;
	color: #fff;
	margin-left: auto;
	margin-right: auto;
	bottom: 0;

	
}